In [2]:
from private.SystemR.wrapper_v5 import IBWrapper, IBclient
callback = IBWrapper()
client = IBclient(callback)
(account_value, portfolio_data) = client.get_IB_account_data()
net_liquidation = float([value for (key,value, currency, account) in account_value if key == 'NetLiquidation'][0])
print("Net Liquidation: ", net_liquidation)

Net Liquidation:  400484.63

In [4]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')
table = "capital"
capital_df = pd.read_sql_table(table_name=table, con=engine, index_col=['DATE'])
print(capital_df)

          IB_CAPITAL   OFFSET
DATE
20170203   469156.37  50000.0
20170204   469156.37  50000.0
20170208   466604.69  50000.0
20170209   465895.06  50000.0
20170210   467858.58  50000.0
20170211   468547.85  50000.0
20170212   468493.61  50000.0
20170214   468102.18  50000.0
20170215   471461.38  50000.0
20170216   472100.38  50000.0
20170217   471816.76  50000.0
20170218   472045.88  50000.0
20170220   475478.53  50000.0
20170221   476000.43  50000.0
20170222   479381.64  50000.0
20170223   476714.44  50000.0
20170224   472947.96  50000.0
20170226   475292.08  50000.0
20170228   476954.01  50000.0
20170301   462847.42  40000.0
20170302   458897.14  40000.0
20170303   459003.04  40000.0
20170305   459071.28  40000.0
20170307   460359.05  40000.0
20170308   460012.31  40000.0
20170309   458322.98  40000.0
20170310   456623.53  40000.0
20170312   455507.26  40000.0
20170314   457452.80  40000.0
20170315   454317.58  40000.0
...              ...      ...
20170408   416855.15      0.0
20170411   411788.52      0.0
20170412   410779.10      0.0
20170413   412270.05      0.0
20170414   411512.53      0.0
20170416   411559.18      0.0
20170418   415897.25      0.0
20170419   417501.72      0.0
20170420   414832.60      0.0
20170421   418797.59      0.0
20170422   419445.94      0.0
20170424   419804.32      0.0
20170425   419298.47      0.0
20170426   413049.57      0.0
20170427   416054.01      0.0
20170428   418215.65      0.0
20170501   419664.55      0.0
20170502   417044.48      0.0
20170503   418399.50      0.0
20170504   417965.97      0.0
20170505   421512.74      0.0
20170506   417752.79      0.0
20170507   417757.26      0.0
20170509   420824.69      0.0
20170510   421945.05      0.0
20170511   420459.30      0.0
20170512   416807.91      0.0
20170530   414761.80      0.0
20170809   400301.28      0.0
20170817   400056.88      0.0

[77 rows x 2 columns]

In [7]:
import datetime
today = datetime.date.today().strftime('%Y%m%d')
today

'20170829'

In [8]:
capital_df.loc[today] = {"IB_CAPITAL": net_liquidation, "OFFSET": 0.0}

In [9]:
capital_df.tail(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>IB_CAPITAL</th>
      <th>OFFSET</th>
    </tr>
    <tr>
      <th>DATE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20170512</th>
      <td>416807.91</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170530</th>
      <td>414761.80</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170809</th>
      <td>400301.28</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170817</th>
      <td>400056.88</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170829</th>
      <td>400484.63</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
capital_df.loc[today] = {"IB_CAPITAL": 345.45, "OFFSET": 0.0}

In [11]:
capital_df.tail(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>IB_CAPITAL</th>
      <th>OFFSET</th>
    </tr>
    <tr>
      <th>DATE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20170512</th>
      <td>416807.91</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170530</th>
      <td>414761.80</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170809</th>
      <td>400301.28</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170817</th>
      <td>400056.88</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20170829</th>
      <td>345.45</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
['IB_CAPITAL']

DATE
20170829    345.45
Name: IB_CAPITAL, dtype: float64

In [24]:
(int(capital_df[-1:].iloc[0]['IB_CAPITAL'] * 100) + int(capital_df[-1:].iloc[0]['OFFSET'] * 100))/100

345.45

In [1]:
from pytz import timezone
import datetime

today = datetime.datetime.now()
today

datetime.datetime(2017, 9, 5, 21, 29, 4, 299135)

In [3]:
today.hour

21

In [24]:
now_tokyo = datetime.datetime.now(timezone('Asia/Tokyo'))
print(now_tokyo)

2017-09-06 04:59:06.314293+09:00

In [26]:
if now_tokyo.hour < 5:
    datetime_tokyo = datetime.datetime.now(timezone('Asia/Tokyo')) - datetime.timedelta(1)
else:
    datetime_tokyo = datetime.datetime.now(timezone('Asia/Tokyo'))
print(datetime_tokyo)

2017-09-05 04:59:30.039637+09:00

In [20]:
datetime_tokyo.date()

datetime.date(2017, 9, 6)

In [35]:
from private.SystemR.dbutils.panama import ib_download

from private.SystemR.wrapper_v2 import IBWrapper, IBclient

    #engine = create_engine('mysql+pymysql://root:admin@0.0.0.0/pkdemo')
callback = IBWrapper()
client = IBclient(callback)
start_date = '20160605'
maturity = '201712'
#mkt_ser = resource_marketdata_setup
mkt_ser  = pd.Series({"QUANDL": "ED", "IB": "GE", "SECTYPE": "FUT", "CURRENCY": "USD",
                       "Q_EXCHANGE": "CME", "IB_EXCHANGE": "GLOBEX", "MULTIPLIER": 0})
result = ib_download(client, mkt_ser, maturity, start_date=start_date)
print(result.tail(5))

ImportError: No module named 'accessrights'

In [37]:
today_asdate = datetime.datetime.now(timezone('Asia/Tokyo')).date()
print(today_asdate)

2017-09-06

In [ ]:
from pytz import timezone

exchange = mkt_ser.IB_EXCHANGE
if exchange == 'KSE':
    tz = 'Asia/Tokyo'
else:
    tz = 'GMT'
time_now = datetime.datetime.now(timezone(tz))
today_asdate = time_now.date()
today_asdatetime = datetime.datetime(today_asdate.year, today_asdate.month, today_asdate.day)