In [10]:
import pandas as pd
afile = "private/SystemR/admin/test/reports/20170813_monthly.csv"
df = pd.read_csv(afile)
df.columns = ['DATETIME', 'PRICE']
print(df)

       DATETIME         PRICE
0    1975-01-31     -1.856622
1    1975-02-28  -1296.064086
2    1975-03-31   -942.682079
3    1975-04-30  11786.356163
4    1975-05-31  -6577.725322
5    1975-06-30   6303.740830
6    1975-07-31  -2064.737442
7    1975-08-31  12216.015789
8    1975-09-30  51016.767687
9    1975-10-31 -10761.221462
10   1975-11-30  11271.291776
11   1975-12-31 -13470.048164
12   1976-01-31   7481.611817
13   1976-02-29  -6954.006542
14   1976-03-31  -1623.298814
15   1976-04-30  23724.356263
16   1976-05-31  22272.136871
17   1976-06-30  12858.991297
18   1976-07-31  60215.129792
19   1976-08-31  28378.800140
20   1976-09-30  34122.493081
21   1976-10-31  14565.466331
22   1976-11-30  -4917.576355
23   1976-12-31    593.135678
24   1977-01-31   2715.400681
25   1977-02-28  14963.065312
26   1977-03-31  36244.621743
27   1977-04-30    684.098908
28   1977-05-31  -9331.762397
29   1977-06-30  54364.282922
..          ...           ...
482  2015-03-31  -6710.706239
483  2015-04-30  -1605.943818
484  2015-05-31  -2217.232916
485  2015-06-30 -35725.579218
486  2015-07-31  31031.117565
487  2015-08-31 -18144.873583
488  2015-09-30  10952.465070
489  2015-10-31 -19512.403297
490  2015-11-30  11133.359777
491  2015-12-31  -7105.214589
492  2016-01-31  32460.291598
493  2016-02-29  37812.265920
494  2016-03-31 -26485.123141
495  2016-04-30 -17736.824066
496  2016-05-31    310.248464
497  2016-06-30   3559.169778
498  2016-07-31  14428.087342
499  2016-08-31   8450.356773
500  2016-09-30 -23460.218752
501  2016-10-31 -16006.185427
502  2016-11-30   8277.823930
503  2016-12-31   4871.868293
504  2017-01-31   2039.701069
505  2017-02-28   2400.333126
506  2017-03-31  15670.696546
507  2017-04-30   3104.634231
508  2017-05-31  -3312.829235
509  2017-06-30 -21164.167352
510  2017-07-31   8400.384017
511  2017-08-31 -18015.710125

[512 rows x 2 columns]