In [1]:
from sysdata.csvdata import csvFuturesData
data = csvFuturesData()
data.methods()

['daily_prices',
 'get_fx_for_instrument',
 'get_instrument_asset_classes',
 'get_instrument_currency',
 'get_instrument_list',
 'get_instrument_raw_carry_data',
 'get_raw_cost_data',
 'get_raw_price',
 'get_value_of_block_price_move',
 'keys',
 'methods']

In [2]:
data.keys()

['CORN',
 'LEANHOG',
 'LIVECOW',
 'SOYBEAN',
 'WHEAT',
 'KR10',
 'KR3',
 'BOBL',
 'BTP',
 'BUND',
 'OAT',
 'SHATZ',
 'US10',
 'US2',
 'US20',
 'US5',
 'V2X',
 'VIX',
 'KOSPI',
 'AEX',
 'CAC',
 'SMI',
 'NASDAQ',
 'SP500',
 'AUD',
 'EUR',
 'GBP',
 'JPY',
 'MXP',
 'NZD',
 'COPPER',
 'GOLD',
 'PALLAD',
 'PLAT',
 'CRUDE_W',
 'GAS_US',
 'EDOLLAR',
 'EUROSTX']

In [2]:
#data.get_instrument_raw_carry_data('EDOLLAR')
print(2)

2

In [2]:
dir(data)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_datapath',
 '_get_all_cost_data',
 '_get_default_currency',
 '_get_default_series',
 '_get_fx_cross',
 '_get_fx_data',
 '_get_instrument_data',
 'daily_prices',
 'get_fx_for_instrument',
 'get_instrument_asset_classes',
 'get_instrument_currency',
 'get_instrument_list',
 'get_instrument_raw_carry_data',
 'get_raw_cost_data',
 'get_raw_price',
 'get_value_of_block_price_move',
 'keys',
 'log',
 'methods']

In [1]:
from sysdata.csvdata import csvFuturesData
data=csvFuturesData("sysdata.tests")
data

NameError: name 'csvFuturesData' is not defined

In [6]:
data.keys()

['EDOLLAR', 'US10', 'BUND']

In [8]:
from syscore.fileutils import get_pathname_for_package
get_pathname_for_package("sysdata.pete.mosel")

'/home/lope/PycharmProjects/pysystemtrade/sysdata/pete/mosel'

In [9]:
data._get_instrument_data()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Instrument</th>
      <th>Pointsize</th>
      <th>AssetClass</th>
      <th>Currency</th>
      <th>Shortonly</th>
    </tr>
    <tr>
      <th>Instrument</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>EDOLLAR</th>
      <td>EDOLLAR</td>
      <td>2500</td>
      <td>STIR</td>
      <td>USD</td>
      <td>False</td>
    </tr>
    <tr>
      <th>US10</th>
      <td>US10</td>
      <td>1000</td>
      <td>Bond</td>
      <td>USD</td>
      <td>False</td>
    </tr>
    <tr>
      <th>BUND</th>
      <td>BUND</td>
      <td>1000</td>
      <td>Bond</td>
      <td>EUR</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
print("Kobi")

Kobi

In [1]:
from private.SystemR.mysqldata import mysqlFuturesData
data=mysqlFuturesData()
data

FuturesData object with 38 instruments

In [2]:
data.keys()

['CORN',
 'LEANHOG',
 'LIVECOW',
 'SOYBEAN',
 'WHEAT',
 'KR10',
 'KR3',
 'BOBL',
 'BTP',
 'BUND',
 'OAT',
 'SHATZ',
 'US10',
 'US2',
 'US20',
 'US5',
 'V2X',
 'VIX',
 'KOSPI',
 'AEX',
 'CAC',
 'SMI',
 'NASDAQ',
 'SP500',
 'AUD',
 'EUR',
 'GBP',
 'JPY',
 'MXP',
 'NZD',
 'COPPER',
 'GOLD',
 'PALLAD',
 'PLAT',
 'CRUDE_W',
 'GAS_US',
 'EDOLLAR',
 'EUROSTX']

In [2]:
data=mysqlFuturesData()
data.get_raw_price("EDOLLAR").tail(2)

DATETIME
2017-08-16    97.985
2017-08-17    98.015
Name: PRICE, dtype: float64

In [3]:
data.get_instrument_raw_carry_data("EDOLLAR").tail(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRICE</th>
      <th>CARRY</th>
      <th>CARRY_CONTRACT</th>
      <th>PRICE_CONTRACT</th>
    </tr>
    <tr>
      <th>DATETIME</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-08-11</th>
      <td>98.060</td>
      <td>98.100</td>
      <td>202003</td>
      <td>202006</td>
    </tr>
    <tr>
      <th>2017-08-14</th>
      <td>98.035</td>
      <td>98.075</td>
      <td>202003</td>
      <td>202006</td>
    </tr>
    <tr>
      <th>2017-08-15</th>
      <td>97.945</td>
      <td>97.990</td>
      <td>202006</td>
      <td>202009</td>
    </tr>
    <tr>
      <th>2017-08-16</th>
      <td>97.985</td>
      <td>98.030</td>
      <td>202006</td>
      <td>202009</td>
    </tr>
    <tr>
      <th>2017-08-17</th>
      <td>98.015</td>
      <td>98.055</td>
      <td>202006</td>
      <td>202009</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
data.get_raw_cost_data("EDOLLAR")['price_slippage']

0.0025000000000000001

In [3]:
data._get_all_cost_data()
print("Pete")

Pete

In [8]:
data.get_instrument_asset_classes()

AttributeError: 'mysqlFuturesData' object has no attribute 'get_instrument_asset_classes'

In [12]:
kobi = "%s%sfx" % ("Pete", "Andrews")
kobi

'PeteAndrewsfx'

In [2]:
data._get_fx_data("EUR", "USD").tail(2)

4606    2017-05-01
4607    2017-05-02
Name: DATETIME, dtype: object

In [2]:
data=mysqlFuturesData()
data._get_fx_data("EUR", "USD").tail(2)

4606   2017-05-01
4607   2017-05-02
Name: DATETIME, dtype: datetime64[ns]

In [6]:
from sysdata.csvdata import csvFuturesData
data=csvFuturesData("sysdata.tests")
data._get_fx_data("EUR", "USD").tail(2)

2015-12-09    1.09085
2015-12-10    1.09641
Name: FX, dtype: float64

In [2]:
from private.SystemR.mysqldata import mysqlFuturesData
data=mysqlFuturesData()
data._get_fx_data("EUR", "USD").tail(10)

DATETIME
2017-04-19    1.072275
2017-04-20    1.072625
2017-04-21    1.071625
2017-04-24    1.084625
2017-04-25    1.089425
2017-04-26    1.092125
2017-04-27    1.090475
2017-04-28    1.089775
2017-05-01    1.089900
2017-05-02    1.091375
Name: FX, dtype: float64

In [10]:
from sysdata.csvdata import csvFuturesData
data=csvFuturesData("private.SystemR.data")
data

FuturesData object with 38 instruments

In [56]:
data._get_fx_data("GBP", "USD").tail(10)

2017-05-18    1.296950
2017-05-19    1.295425
2017-05-22    1.300175
2017-05-23    1.299025
2017-05-24    1.297425
2017-05-25    1.298875
2017-05-26    1.290450
2017-05-29    1.284075
2017-05-30    1.285875
2017-05-31    1.289000
Name: FX, dtype: float64

In [1]:
print("pete")

pete